stefan-on-software/stefan_on_software/static/
stefan-on-software/stefan_on_software/.flaskenv
stefan-on-software/instance/
env/

.idea/

*.pyc
*__pycache__/

.vscode/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

