openapi: 3.0.0
info:
  title: StefanOnSoftware API
  version: 0.1.0
  description: |
    This API is used to manage [the StefanOnSoftware blog](https://www.stefanonsoftware.com). Code for the StefanOnSoftware website is open-source and can be found [on Github](https://github.com/Stefan4472/Stefans-Blog).

    ## Blog Posts
    The main use of this API is to create, manage, and publish blog posts.

    Posts begin in a private draft stage, and only become visible on the public website once they have been published. Once published, the post is available at a URL that uses its slug (e.g., 'www.stefanonsoftware.com/posts/\<slug>'). A published post can be "featured", which will lead to it being displayed on the landing page of the blog.

    Posts are written and stored in Markdown documents, which are rendered to HTML on request.

    Each post must specify three required images. The _featured_ image is displayed on the website landing page if the post is featured, and is also used as a page banner on narrow screens. The _banner_ image is used as a page banner on large screens. The _thumbnail_ image is a used when displaying the post in a listing, e.g. a search result. These images must comply with specific dimensions.

    ## Tags
    Posts can be categorized according to Tags, which serve to thematically group similar posts together and to pique readers' interest. The _tags_ API is used to create and manage tags.

    ## Files
    Posts almost always include multimedia such as images and videos. This media must be stored somewhere. The _files_ API is used by the author to upload files to the website, where they can be linked to from posts.

servers:
  - url: https://www.stefanonsoftware.com/api/v1
    description: Live public website.

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic

  schemas:
    User:
      type: object
      description: A registered user
      required:
        - id
        - name
      properties:
        id:
          type: integer
          description: Unique integer ID assigned to this user
          example: 10
        name:
          type: string
          description: Name of the user
          example: Stefan Kussmaul
    Post:
      type: object
      description: A post on the website.
      required:
        - id
        - created_by
        - last_modified
      properties:
        id:
          type: integer
          description: Unique integer ID assigned to this post.
          example: 15
        # TODO: in which situations should it return ID, in which should it return the full object?
        created_by:
          type: object
          $ref: '#/components/schemas/User'
          description: The user who created (and therefore owns) this post.
        last_modified:
          type: string
          format: datetime
          description: Timestamp at which this post was last modified.
          example: 2022-09-15T10:40:52Z
        slug:
          type: string
          description: Unique "slug" used to make the URL for this post on the public website. Cannot be changed while the post is published.
          example: gamedev-spritesheets
        title:
          type: string
          description: Title of the post.
          example: How to implement Spritesheets
        byline:
          type: string
          description: A short summary of the post that will be displayed when the post appears in a listing. It may also be used in the HTML description tag of the post on the public website, and when sending an email notification.
          example: In this post we'll use Java to implement a Spritesheet class, with which we can play back hand-drawn animation sequences.
        publish_date:
          type: string
          format: datetime
          description: Timestamp at which this post was published. Will be null if the post is not currently published.
          example: 2022-09-10T17:22:12Z
        featured_image:
          type: string
          description: fileId of the featured image. The featured image represents the post on the front page when it is "featured", and is also displayed at the top of the post when viewed on the public website under certain conditions (e.g., small screen size).
          example: cd280bf9-b7bd-424e-ae56-4ea88120cfb9
        banner_image:
          type: string
          description: fileId of the banner image. The banner image is displayed at the top of the post when viewed on the public website.
          example: 83fe542d-3fbb-475b-b667-62f37cc6574e
        thumbnail_image:
          type: string
          description: fileId of the thumbnail image. The thumbnail image is displayed when the post appears in a listing (e.g. search result) on the public website.
          example: 1f536f1b-cb44-41e2-be18-c89140d0f02c
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          description: Tags associated with this post.
        is_featured:
          type: boolean
          description: Whether this post is currently featured.
          example: false
        is_published:
          type: boolean
          description: Whether this post is currently published.
          example: true
        file_references:
          type: array
          items:
            type: string
          description: FileIds that are "referenced" from this post. This includes the featured, banner, and thumbnail images, as well as any images displayed on the website.
          example: cd280bf9-b7bd-424e-ae56-4ea88120cfb9, 83fe542d-3fbb-475b-b667-62f37cc6574e, 1f536f1b-cb44-41e2-be18-c89140d0f02c
    Tag:
      type: object
      description: A tag used to categorize posts
      required:
        - id
        - slug
        - name
        - description
        - color
      properties:
        id:
          type: integer
          description: Unique integer ID assigned to this tag.
          example: 23
        slug:
          type: string
          description: Unique "slug" used to make the URL for this tag on the public website. Cannot be changed.
          example: data-analysis
        name:
          type: string
          description: Human-readable name used when displaying the tag on the website
          example: Data Analysis
        description:
          type: string
          description: A short description used to help readers understand the tag.
          example: Posts that have to do with data analysis and visualization.
        color:
          type: string
          description: Hex color used when displaying the tag
          pattern: '^#[0-9a-fA-F]{6}$'
          example: '#FFFFFF'
    File:
      type: object
      description: A file stored on the webserver
      required:
        - id
        - upload_name
        - upload_date
        - uploaded_by
        - url
        - filetype
        - hash
        - size
      properties:
        id:
          type: string
          description: UUID used to identify this file.
          example: 1f536f1b-cb44-41e2-be18-c89140d0f02c
        upload_name:
          type: string
          description: Original filename used when uploading this file.
          example: java_screenshot.jpg
        upload_date:
          type: string
          format: datetime
          description: Timestamp at which this file was uploaded.
          example: 2022-09-01T17:22:12Z
        uploaded_by:
          $ref: '#/components/schemas/User'
          description: The user who uploaded this file.
        filetype:
          type: string
          enum: [IMAGE, VIDEO, DOCUMENT]
          description: General type of the file (determined by server during upload).
          example: IMAGE
        filename:
          type: string
          description: Filename, as stored on the webserver.
          example: 1f536f1b-cb44-41e2-be18-c89140d0f02c.jpg
        url:
          type: string
          description: URL that this file can be accessed under on the public website.
          example: https://www.stefanonsoftware.com/static/1f536f1b-cb44-41e2-be18-c89140d0f02c.jpg
        size:
          type: integer
          description: Size of the file, in bytes.
          example: 330060
        hash:
          type: string
          description: MD5 hash of the file contents.
          example: d7e1fcfe6aae23c19e69511c48e37a73

  parameters:
    QueryLimit:
      name: limit
      in: query
      description: Limits the number of items returned per page
      schema:
        type: integer
    QueryOffset:
      name: offset
      in: query
      description: Specifies the page number of items to return
      schema:
        type: integer
    PostId:
      name: post_id
      in: path
      required: true
      description: Unique postId assigned to a post
      schema:
        type: string
    TagId:
      name: tag_id
      in: path
      required: true
      description: Unique tagId assigned to a tag
      schema:
        type: string
    FileId:
      name: file_id
      in: path
      required: true
      description: Unique fileId assigned to a file
      schema:
        type: string

  responses:
    ErrUnauthorized:
      description: Authentication information is missing or invalid.
      headers:
        WWW_Authenticate:
          schema:
            type: string
    ErrNoSuchPost:
      description: No post with the specified ID exists
      content:
        application/json:
          schema:
            type: string
            example: No post with the specified ID exists
    ErrNoSuchTag:
      description: No tag with the specified ID exists
      content:
        application/json:
          schema:
            type: string
            example: No tag with the specified ID exists
    ErrNoSuchFile:
      description: No file with the specified ID exists
      content:
        application/json:
          schema:
            type: string
            example: No file with the specified ID exists
    ErrNoPermissionToModifyPost:
      description: The user does not have permission to modify the desired post
      content:
        application/json:
          schema:
            type: string
            example: You do not have permission to modify the specified post
security:
  - BasicAuth: []

tags:
  - name: posts
    description: Everything about posts
  - name: published
    description: Managing publication
  - name: featured
    description: Managing featured posts
  - name: tags
    description: Tag management
  - name: files
    description: File management
  - name: emails
    description: Email list management

paths:
  /posts:
    get:
      description: Get post information, applying optional filters and paging.
      tags:
        - posts
      parameters:
        - name: is_featured
          in: query
          description: Specifies whether to only return posts that are featured
          schema:
            type: boolean
        - name: is_published
          in: query
          description: Specifies whether to only return posts that are published
          schema:
            type: boolean
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          description: Returned a list of posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'

    post:
      description: Create a new post. It will be initialized with default values. Returns the unique ID of the created post.
      tags:
        - posts
      responses:
        '201':
          description: Successfully created a new post
          content:
            application/json:
              schema:
                type: object
                properties:
                  post_id:
                    type: string
        '401':
          $ref: '#/components/responses/ErrUnauthorized'

  /posts/{post_id}:
    parameters:
      - $ref: '#/components/parameters/PostId'
    get:
      description: Get information about a post
      tags:
        - posts
      responses:
        '200':
          description: Returned information about the post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

    patch:
      description: Change post metadata. The slug can only be changed if the post has not been published yet. Can also fail if an image is set that does not meet the specifications. Only the user who created the post can change it.
      tags:
        - posts
      parameters:
        - name: slug
          in: query
          schema:
            type: string
        - name: title
          in: query
          schema:
            type: string
        - name: byline
          in: query
          schema:
            type: string
        - name: featured_image
          in: query
          schema:
            type: string
        - name: banner_image
          in: query
          schema:
            type: string
        - name: thumbnail_image
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Changed metadata and returned the updated post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: One or more parameters break the rules.
          content:
            application/json:
              schema:
                type: string
                example: Specified thumbnail_image has wrong dimensions
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrNoPermissionToModifyPost'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'
    delete:
      description: Delete a post
      tags:
        - posts
      responses:
        '204':
           description: Post was deleted
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrNoPermissionToModifyPost'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

  /posts/{post_id}/content:
    parameters:
      - $ref: '#/components/parameters/PostId'
    get:
      description: Download the Markdown file of this post
      tags:
        - posts
      responses:
        '200':
          description: Returned the Markdown file
          content:
            # TODO: what format to return? Binary? Text? Will be a markdown file
            text/plain:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

    post:
      description: Upload the Markdown file of this post, overwriting whichever file had been there previously.
      tags:
        - posts
      requestBody:
        content:
          # TODO: is this the right format? Should it accept binary or plain text?
          text/plain:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Markdown file was successfully set
        '400':
          description: There is a problem with the markdown file
          content:
            application/json:
              schema:
                type: string
                example: Error rendering Markdown file
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrNoPermissionToModifyPost'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

  /posts/{post_id}/tags:
    parameters:
      - $ref: '#/components/parameters/PostId'
    get:
      description: Get all tags associated with this post
      tags:
        - posts
      responses:
        '200':
          description: Returned all tag information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

    post:
      description: Add one or more tags to this post. If any invalid tagIds are specified, the whole operation will fail.
      tags:
        - posts
      parameters:
        - name: tag_id
          in: query
          description: TagIds to add to the post
          schema:
            type: array
            items:
              type: string
      responses:
        '204':
          description: All tags were added successfully
        '400':
          description: One or more tagIds were invalid. Returned a list of invalid tagIds.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrNoPermissionToModifyPost'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

  /posts/{post_id}/tags/{tag_id}:
    parameters:
      - $ref: '#/components/parameters/PostId'
      - $ref: '#/components/parameters/TagId'
    delete:
      description: Remove one or more tags from this post. If any invalid tagIds are specified, the whole operation will fail. If a tagId is specified that is not actually tagged on the post, it will be silently ignored.
      tags:
        - posts
      parameters:
        - name: tag_id
          in: query
          description: TagIds to remove
          schema:
            type: array
            items:
              type: string
      responses:
        '204':
          description: Removed tag(s) successfully
        '400':
          description: One or more tagIds were invalid. Returned a list of invalid tagIds.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrNoPermissionToModifyPost'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

  /featured:
    get:
      description: Get a list of all featured posts
      tags:
        - featured
      responses:
        '200':
          description: Returned a list of all featured posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'

    post:
      description: Make a post featured
      tags:
        - featured
      parameters:
        - name: post_id
          in: query
          description: ID of the post to make featured
          schema:
            type: string
      responses:
        '204':
          description: The post was featured
        '400':
          description: The specified post is not published, and therefore cannot be featured.
          content:
            application/json:
              schema:
                type: string
                example: The specified post is not published, and therefore cannot be featured.
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

  /featured/{post_id}:
    parameters:
      - $ref: '#/components/parameters/PostId'
    delete:
      description: Un-feature a post
      tags:
        - featured
      responses:
        '204':
          description: The post was unfeatured
        '400':
          description: The specified post is not featured
          content:
            application/json:
              schema:
                type: string
                example: The specified post is not featured
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

  /published:
    get:
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      description: Get a list of published posts
      tags:
        - published
      responses:
        '200':
          description: Returned a list of published posts according to the query parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
    post:
      description: Publish a post
      tags:
        - published
      parameters:
        - name: post_id
          in: query
          description: ID of the post to publish
          schema:
            type: string
      responses:
        '204':
          description: The post was published
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

  /published/{post_id}:
    parameters:
      - $ref: '#/components/parameters/PostId'
    delete:
      description: Un-publish a post. This may lead to broken links!
      tags:
        - published
      responses:
        '204':
          description: The post was unpublished
        # TODO: should this return an error? If the post wasn't published in the first place, the user's goal is already met
        '400':
          description: The post was not published
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchPost'

  /tags:
    get:
      description: Get all tags that have been created
      tags:
        - tags
      responses:
        '200':
          description: A list of all tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
    post:
      description: Create a new tag
      tags:
        - tags
      parameters:
        - name: name
          in: query
          description: Name of the tag
          schema:
            type: string
        - name: slug
          in: query
          required: false
          description: Slug used to create a URL for the tag. Must be unique. Cannot be changed once created.
          schema:
            type: string
        - name: description
          in: query
          description: Tag description
          required: true
          schema:
            type: string
        - name: color
          in: query
          description: Hex color for the tag. Will be randomly generated if none is provided
          required: false
          schema:
            type: string
            pattern: '^#[0-9a-fA-F]{6}$'
      responses:
        '201':
          description: Tag was created and returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Error in query parameters or the slug is not unique
        '401':
          $ref: '#/components/responses/ErrUnauthorized'

  /tags/{tag_id}:
    parameters:
      - $ref: '#/components/parameters/TagId'
    get:
      description: Get information about this tag
      tags:
        - tags
      responses:
        '200':
          description: Returned tag info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchTag'
    patch:
      description: Modify tag
      tags:
        - tags
      parameters:
        - name: name
          in: query
          description: Name of the tag
          schema:
            type: string
        - name: description
          in: query
          description: Tag description
          required: true
          schema:
            type: string
        - name: color
          in: query
          description: Hex color for the tag. Will be randomly generated if none is provided
          required: false
          schema:
            type: string
            pattern: '^#[0-9a-fA-F]{6}$'
      responses:
        '200':
          description: Changed the tag and returned the updated tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Error in query parameters or the slug is not unique
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchTag'
    delete:
      description: Delete the tag. This will remove it from all posts that use it
      tags:
        - tags
      responses:
        '200':
          description: Deleted successfully.
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNoSuchTag'

  /files:
    get:
      description: Get a list of files
      tags:
        - files
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          description: Return a list of file metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
    post:
      description: Upload a new file
      # TODO: how to indicate situations in which the file has already been uploaded?
      tags:
        - files
      requestBody:
        content:
          application/*:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: File was uploaded. Returned information about the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'

  /files/{file_id}:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      description: Download the specified file
      tags:
        - files
      responses:
          '200':
            description: File was delivered
            content:
              text/plain:
                schema:
                  type: string
                  format: binary
          '401':
            $ref: '#/components/responses/ErrUnauthorized'
          '404':
            $ref: '#/components/responses/ErrNoSuchFile'
    delete:
      description: Delete a file. Will fail if the file is referenced from any posts.
      tags:
        - files
      responses:
        '200':
          description: File was successfully deleted
        '400':
          description: File had references and could not be deleted
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
            $ref: '#/components/responses/ErrNoSuchFile'
  /files/{file_id}/references:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      description: Get a list of post IDs that this file is referenced from. References are the images linked from a post.
      tags:
        - files
      responses:
        '200':
          description: Returned a list of postIds
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
            $ref: '#/components/responses/ErrNoSuchFile'

  /files/{file_id}/metadata:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      description: Get file metadata
      tags:
        - files
      responses:
        '200':
          description: Returned file metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
            $ref: '#/components/responses/ErrNoSuchFile'

  # Note: the actual endpoint does not have authentication set up. Should it?
  /registrations:
    post:
      description: Register a new email address in the mailing list
      tags:
        - emails
      parameters:
      - name: email
        in: query
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successfully added email address to the mailing list
        '400':
          description: Invalid email address format
