{% extends "blog/base_template.html" %}

{% block content %}

<img alt="A photo of me standing before Gulfoss Falls, Iceland" src="/static/about/gulfoss_falls_2018.jpg" />
<p>My name's Stefan, and I love to code.

<p>I started programming back in 10th grade when my dad convinced (forced?) me to take an intro C++ programming course.</p>

<p>It was a long time before it started to grow on me--I didn't grasp the concepts naturally, and a lot of the time I felt like my brain just wasn't "wired" correctly for coding. Typing out code was pedantic, and one small mistake would break the entire program. What a struggle!</p>

<p>Luckily, I played a lot of video games, especially Minecraft. And that made me really, really want to write a Minecraft mod adding new items and features to the game. To do that I really, really needed to learn how to code, and that desire sustained me through the difficult ordeal of learning to code.</p>

<p>It also helped that my friend Matthew knew what he was doing, and was a patient teacher. Together we started a programming club (which eventually even grew to three people) and met every Friday to plan projects and discuss coding. We started a "company", PlainSimple apps, and wrote a few small programs. It was an incredibly good experience for me, and made me comfortable coding and using Github.</p>

<p>But that was all in highschool. In the intervening time, coding has become my main hobby, and something I love doing. There's nothing more satisfying than designing and building a complicated project, and I have notebooks full of sketches and API specifications I created while brainstorming one project or another. I think coding is an intensely creative activity, and I want to build cool things.</p>

-

<p>I was born in the US, and have lived there my whole life. My dad is German, and my mom is Polish, and they met while studying in the US.</p>

<p>My other hobbies include swimming, tennis, and basketball. Between school, sport, and personal projects I don't have a lot of time for video games, but when I have time I like Super Smash, Rome Total War, and Call of Duty: Modern Warfare 2.</p>

<p>I just got back from studying abroad in Sweden! You can read my travel blog here.</p>

{% endblock %}
