{% extends "blog/base_template.html" %}

{% block content %}


<!-- TODO: Image inline with text, or centered -->
<figure class="figure text-center">
  <img src="{{ url_for('static', filename='IMG_20190825_170506.jpg') }}" class="figure-img img-fluid rounded" alt="">
  <figcaption class="figure-caption"><em>That's me. (On the left)</em></figcaption>
</figure>

<p>My name's Stefan. I'm an undergrad studying computer science at the University of Massachusetts, Amherst. I've always enjoyed writing and coding, so starting a blog (and coding the website) was the natural thing to do! The name "Stefan on Software" comes from one of my favorite blogs called <a href="joelonsoftware.com">Joel On Software</a>. It's a fantastic blog for software engineers, and I hope to someday produce content that's as good.</p>

<p>This blog isn't just about software, though. I love travelling, and I've posted multiple articles <a href="/tag/travel">about my travel</a>. Last year, I studied abroad at Uppsala University in Sweden, and you can find the <a href="/tag/study-abroad">blog articles about it as well</a>.</p>
  
<p>I've been coding since 10th grade, when my dad convinced (forced?) me to take an intro C++ programming course. It was a long time before it started to grow on me--I didn't grasp the concepts naturally, and a lot of the time I felt like my brain just wasn't "wired" correctly for coding. Typing out code was pedantic, and one small mistake would break the entire program. What a struggle!</p>

<p>Luckily, I played a lot of video games, especially Minecraft. And that made me really, really want to write a Minecraft mod adding new items and features to the game. To do that I really, really needed to learn how to code, and that desire sustained me through the difficult ordeal of learning to code.</p>

<p>It also helped that my friend Matthew knew what he was doing, and was a patient teacher. Together we started a programming club (which eventually even grew to three people) and met every Friday to plan projects and discuss coding. We started a "company", PlainSimple apps, and wrote a few small programs. It was an incredibly good experience for me, and made me comfortable coding and using Github.</p>

<p>But that was all in highschool. In the intervening time, coding has become my main hobby, and something I love doing. There's nothing more satisfying than designing and building a complicated project, and I have notebooks full of sketches and API specifications I created while brainstorming one project or another. I think coding is an intensely creative activity, and I want to build cool things.</p>

<p>My other hobbies include tennis and basketball. Between school, sport, and personal projects I don't have a lot of time for video games, but when I do I play Super Smash or Rome Total War.</p>

<p>Feel free to contact me <a href="linkedin.com/in/stefan-kussmaul">on LinkedIn</a>, or check out my <a href="github.com/profile/stefan4472">Github</a>.</p>

{% endblock %}
