<!-- Banner -->
<!-- Set background image: https://stackoverflow.com/questions/22000754/responsive-bootstrap-jumbotron-background-image/26998624-->
<div class="jumbotron" style="margin-bottom: 0rem; text-align: center; color: white; background-image: {% if banner_url %}url('{{ banner_url }}'){% else %}url('/static/site-banner.jpg'){% endif %}; background-size: cover;">
  <h1 class="display-4"><a href="/" class="link-override">Stefan on Software</a></h1>
  <p class="lead"><a href="/" class="link-override">(and other things)</a></p>
</div>