<!-- The banner is a jumbotron with an image background -->
<div id="page-banner" class="jumbotron" style="margin-bottom: 0; text-align: center; color: white; background-image: url({{ url_for('static', filename='site-banner.jpg') }}); background-size: cover;">
    <h1 class="display-4"><a href="/" class="link-override">Stefan on Software</a></h1>
    <p class="lead"><a href="/" class="link-override">(and other things)</a></p>
</div>

<!-- Responsive banner script. Currently only used for posts -->
{% if post %}
<script>
var banner_element = document.getElementById('page-banner');
var curr_inner_width = window.innerWidth;
setBannerImgForWidth(curr_inner_width);

function onWindowSizeChanged() {
  updateBannerImgResponsively(window.innerWidth);
}

function updateBannerImgResponsively(windowWidth) {
  // Change from narrow to wide
  if (windowWidth < 800 && curr_inner_width >= 800) {
    setBannerImgForWidth(windowWidth);
  }
  // Change from wide to narrow
  else if (windowWidth >= 800 && curr_inner_width < 800) {
    setBannerImgForWidth(windowWidth);
  }
  curr_inner_width = windowWidth; 
}

function setBannerImgForWidth(windowWidth) {
  // Show the post's "featured" image if window width is less than 800 pix.
  if (windowWidth < 800) {
    banner_element.style.backgroundImage = 'url({{ post.get_featured_url() }})';
  }
  // Show the post's "banner" image otherwise
  else {
    banner_element.style.backgroundImage = 'url({{ post.get_banner_url() }})';
  }
}

window.onresize = onWindowSizeChanged;
</script>
{% endif %}
