<!--
Displays a Post "thumbnail" (except there's no image).
post: post data
tags: list of tag data objects for the post
-->
{% macro post_widget(post, tags) -%}
<div class="card mb-3" style="border-color: #DDDDDD;">
  <div class="card-body">
    <!-- Image thumbnail inline with text -->
    <div class="row">
      <div class="col-md-2">
        <a href="{{ url_for('blog.post_view', slug=post['post_slug']) }}">
          <img src="{{ post['post_thumbnail_url'] }}" class="card-img img-thumbnail">
        </a>
      </div>
      <div class="col-md-10">
        <h2 style="margin-bottom: 0;">
          <a style="text-decoration: none; color: black" href="{{ url_for('blog.post_view', slug=post['post_slug']) }}">{{ post['post_title'] }}</a>
        </h2>
        <h3>
          {% for tag in tags %}
          <span class="badge badge-primary" style="background-color: {{ tag['tag_color'] }};">
            <a class="link-override" href="{{ url_for('blog.tag_view', slug=tag['tag_slug']) }}">{{ tag['tag_title'] }}</a>
          </span>
          {% endfor %}
        </h3>
        <p class="card-text"><em>Posted by Stefan on {{ post['post_date'].strftime('%B %d, %Y') }}</em></p>
        <p class="card-text">{{ post['post_byline'] }}...</p>
        <a href="{{ url_for('blog.post_view', slug=post['post_slug']) }}" class="btn btn-primary float-right">Read More</a>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
