{% extends "blog/base_template.html" %}

{% block content %}
<h1>Portfolio</h1>

<p>I'm in my last semester studying Computer Science at the University of Massachusetts, Amherst. During my time at the university I've tried to learn as much as possible and become a well-rounded software engineer. I've done a good mix of systems, web programming, and theory, and have worked on a whole lot of projects. I've listed some of them here.</p>

<h3>Selected School Projects</h3>

<ul>
  <li>
    <p>CS377 Honors Operating Systems: I extended the kernel of the [XV6 operating system]() to support multi-threading. This included implementing the ['clone()']() and ['join()']() system calls, as well as ticket locks. This was a semester-long project which I did in order to help the professor develop new course content--it was part of the Honors section. I got really comfortable working in the operating system kernel!</p>
  </li>
  <li>
    <p>CS403 Robotics: Wrote code for a simulated robot to play [Pong](). I implemented a hierarchical behavior in C. My undergraduate Honors thesis is extending that work in order to implement further sophisticated robot behavior.</p>
  </li>
  <li>
    <p>CS446 Search Engines: Built a search engine from scratch. Later on I extended the search engine code to index blog posts on this website and have it working--try out the search bar above!</p>
  </li>
</ul>


<h3>Work Experience</h3>

I have spent three summers in computer science internships.

This past summer (2019), I made significant contributions to two M.I.T. Lincoln Laboratory projects. The first was a satellite communications module, for which I was given ownership over a big chunk of the software design and implementation. I wrote close to 2000 lines of C code for the project, and it was a fantastic learning experience for me. I learned a great deal about embedded systems programming, realtime operating systems, and communication protocols. I had to make decisions about memory/resource constraints, meeting real-time constraints, and leveraging hardware to squeeze the most performance out of the system.

My second project was building a procedural mesh component for an orbit simulation tool developed at Lincoln Laboratory. The simulation tool was written using the Unity game engine, and I wrote an algorithm that could build a 3D model on-the-fly. I learned a lot about 3D graphics, and also became comfortable using the Unity engine.

The summer before that (2018), I 

<h3>Selected Personal Projects</h3>

<!-- TODO: CENTER THE IMAGES -->
<img alt="Short gameplay gif from my C++ adventure game" src="{{ url_for('static', filename='c++-adventure-gif.gif') }}" />

<p>My current big project is writing a game in C++ from scratch. It's a top-down, two-dimensional adventure game in pixel-art style (kind of similar to Pokemon). Read more here.</p>

<img alt="Short gameplay gif from my Spaceships online game" src="{{ url_for('static', filename='spaceships-online-gif.gif') }}" />

<p>I'm also currently writing an online multiplayer game in Javascript (also from scratch). It's in early stages, but you can check it out online here!</p>

<img alt="Short gameplay gif from my Spaceships android game" src=" {{ url_for('static', filename='spaceships-gif.gif') }}" />

<p>I worked on writing an Android space arcade game for a while--I called it Spaceships (not super creative, I know. I'm still thinking about a better name). The game is fairly close to completion, but I'm taking a break to work on other things. Read more here.</p>

{% endblock %}
