{% extends "blog/base_template.html" %}

{% block content %}
<h1>Portfolio</h1>
<hr>

<p class="resume">Contact: <a href="https://www.linkedin.com/in/stefan-kussmaul/">LinkedIn</a></p>
<p class="resume">Github: <a href="https://github.com/Stefan4472">Stefan4472</a></p>
<br>

<h3>About Me</h3>
<p class="resume">I am a recent Computer Science graduate of the University of Massachusetts Amherst. During my time there, I was a member of the Commonwealth Honors College, which provides an advanced scholarship track for the top ten- to fifteen-percent of students. I was also selected for the highly-competitive Bay State Fellowship, which is awarded to eight undergraduates per year. I am passionate about software engineering, and have the skills and experience to conduct research and develop complex systems. I plan to continue my education in a Computer Science Master's program starting this Fall--in the meantime, I am developing flight software for real-time embedded space systems and satellites at M.I.T. Lincoln Laboratory.</p>

<h3>Education</h3>
<p class="resume"><strong>University of Massachusetts, Amherst</strong></p>
<p class="resume">Bachelors of Science in Computer Science with Honors (December 2019)</p>
<p class="resume">Recipient of the <a href=https://www.cics.umass.edu/content/bay-state-programs>Bay State Fellowship</a></p>
<p class="resume">Thesis: <em>Learning Optimal Sequential Behavior in Robots</em>, advised by Professor Roderic Grupen</p>
<p class="resume">Uppsala University Exchange Student (Fall 2018)</p>
<p class="resume">Coursework Includes: Robotics, Embedded Systems, Algorithms, Computer Vision, Artificial Intelligence, Data Science, Computation, Search Engines, Computer Architecture, Operating Systems, Cyber Security</p>
<br>

<h3>Work Experience</h3>
<p class="resume" id="lincoln-labs-2020"><strong>M.I.T. Lincoln Laboratory (January 2020 - present)</strong></p>
<p class="resume">Student Technical Assistant, Advanced Space Technologies</p>
<ul>
  <li>Currently developing flight software for a microsatellite project that will perform experimental orbital maneuvers.</li>
</ul>
<p class="resume" id="lincoln-labs-2019"><strong>M.I.T. Lincoln Laboratory (Summer 2019)</strong></p>
<p class="resume">Research Intern, Advanced Space Technologies</p>
<ul>    
  <li>Designed and programmed a prototype satellite communications module using C code and a real-time operating system.</li>
  <li>Made important architectural decisions to meet the time and memory requirements of the client.</li>
  <li>Conducted a code review and performed rigorous tests to ensure long-term robustness for the 2020 launch into orbit.</li>
  <li>Built a field-of-view component in Unity to generate procedural 3D meshes for use in a satellite simulation program.</li>
</ul>
<p class="resume" id="lincoln-labs-2018"><strong>M.I.T. Lincoln Laboratory (Summer 2018)</strong></p>
<p class="resume">Research Intern, Airborne Radar</p>
<ul>
  <li>Developed a library of multithreaded C++ code for real-time hardware control and positioning in radar experiments.</li>
  <li>Integrated the library into existing software to meet real-time constraints and improve the accuracy of collected data.</li>
  <li>Learned and leveraged the Eigen C++ library to rewrite global position and orientation algorithms.</li>
</ul>
<p class="resume" id="acacia-communications"><strong>Acacia Communications (Summer 2017)</strong></p>
<p class="resume">DevOps Intern, Optics/Reliability</p>
<ul>
  <li>Designed and wrote a Python GUI application to help engineers collect and analyze long-term fiber optic test data.</li>
  <li>Worked closely with engineers to prioritize the most helpful and time-saving features.</li>
  <li>Developed features including real-time data analysis, automated graphing, and automated Powerpoint report generation.</li>
  <li>Application currently used by engineers and saves time by automating and standardizing many time-consuming tasks.</li>
</ul>
<br>

<h3>Selected School Projects</h3>
<p class="resume" id="robot-behavior"><strong>Learning Optimal Sequential Behavior in Robots (Undergraduate Honors Thesis)</strong></p>
<ul>
  <li>I completed my undergraduate thesis in Robotics at the <a href="http://www-robotics.cs.umass.edu/">Laboratory for Perceptual Robotics</a></li>
  <li>I researched the use of Reinforcement Learning to develop and optimize complex hierarchical robot behaviors on a simulated robot.</li>
</ul>
<p class="resume" id="kernel-hacking"><strong>Kernel Hacking (CS377 Honors Operating Systems)</strong></p>
<ul>
  <li>I wrote code for the kernel of the <a href="https://github.com/mit-pdos/xv6-public">XV6 Operating System</a>, adding system calls and synchronization mechanisms to allow multi-threading.</li>
  <li>My work involved studying the XV6 kernel code to understand how the operating system worked.</li>
  <li>I also wrote a Python autograder script which could run automated tests in the XV6 environment, and will be used by the professor to grade student projects in upcoming classes.</li>
  <li>The deep understanding I gained allowed me to make educated decisions about resource allocation and real-time constraints for my embedded systems project at M.I.T. Lincoln Laboratory.</li>
</ul>
<p class="resume" id="shakespeare-search-engine"><strong>Shakespeare Search Engine (CS446 Search Engines)</strong></p>
<ul>
  <li>I built a search engine in Python which allowed the user to search over the entire corpus of Shakespeare's work.</li>
  <li>This involved making many architectural decisions to optimize performance and provide results quickly.</li>
  <li>I later wrote new interfaces to the code and modified it to support searching over web sites--it is currently in use on this site (see the search bar above).</li>
</ul>
<p class="resume" id="umoc-website"><strong>UMass Outdoor Club Website (CS326 Web Programming)</strong></p>
<ul>
  <li>In a small group, I developed a website for the UMass Outdoor Club using the Python Django web framework.</li>
  <li>The site allowed users to create profiles and sign up for club-organized trips.</li> 
  <li>My work included designing the database model and writing the backend code for the user profiles, comment sections, and trip signups.</li>
  <li>As a result of this project, I became familiar with the Django framework and building complex web apps.</li>
</ul>
<br>

<h3>Selected Personal Projects</h3>
<p class="resume" id="stefan-on-software"><strong>StefanOnSoftware (2019)</strong></p>
<ul>
  <li>Using the Python Flask framework, I developed a blogging platform and used it to host a personal website called StefanOnSoftware.</li>
  <li>This involved designing the database model and writing SQLite queries, and developing a system to automate the process of adding and uploading posts.</li>
  <li>I became comfortable using Bootstrap to create a responsive website, and writing backend code to generate HTML dynamically.</li>
  <li>I also wrote the search engine which serves the site.</li>
  <li><a href="/post/project-overview-stefanonsoftware">Read more</a> or <a href="https://github.com/Stefan4472/Stefans-Blog">see the code</a>.</li>
</ul>
<!-- TODO: CENTER THE IMAGES -->
<p class="resume" id="c-adventure"><strong>C++ Adventure (2018)</strong></p>
<ul>
  <li>I used C++ and the SDL media library to design and write a two-dimensional Pokemon-style game.</li>
  <li>I developed AI for non-playing characters, interactive items, a GUI system, and efficient game state serialization.</li>
  <li><a href="/post/project-overview-c++-adventure">Read more</a> or <a href="https://github.com/Stefan4472/">see the code</a>.</li>
</ul>
<figure class="figure text-center">
  <img src="{{ url_for('static', filename='c++-adventure-gif.gif') }}" class="figure-img img-fluid" style="max-width: 100%; height: auto;">
</figure>
<br>

<p class="resume" id="spaceships-online"><strong>Spaceships Online (2018)</strong></p>
<ul>
  <li>I learned Javascript and Node.js to write an online multiplayer spaceship shooting game.</li> 
  <li>I read articles about game networking and learned enough to implement an authoritative game backend from scratch.</li>
  <li><a href="/post/project-overview-spaceships-online">Read more</a> or <a href="https://github.com/Stefan4472/SpaceshipsOnline">see the code</a>.</li>
</ul>
<figure class="figure text-center">
  <img src="{{ url_for('static', filename='spaceships-online-gif.gif') }}" class="figure-img img-fluid" style="max-width: 100%; height: auto;">
</figure>
<br>

<p class="resume" id="spaceships"><strong>Spaceships (2017)</strong></p>
<ul>
  <li>Learned Android and used Java to write an infinite runner arcade game inspired by Space Invader.</li>
  <li>Designed and coded rich user interface, procedural map generation, virtual store, game modes, and statistics-tracking.</li>
  <li><a href="/post/project-overview-spaceships">Read more</a> or <a href="https://github.com/Stefan4472/Spaceships">see the code</a>.</li>
</ul>
<figure class="figure text-center">
  <img src="{{ url_for('static', filename='spaceships-gif.gif') }}" class="figure-img img-fluid" style="max-width: 100%; height: auto;">
</figure>
<br>

<p class="resume" id="activity-log"><strong>ActivityLog (2018)</strong></p>
<ul>
  <li>Developed a productivity app for Android with features for logging and analyzing time spent on different activities.</li>
  <li>Used a SQLite database to store activity information, included graphing capabilities, goal feature, and timer.</li>
  <li><a href="https://github.com/Stefan4472/ActivityLog">See the code</a>.</li>
</ul>
<figure class="figure text-center">
  <img src="{{ url_for('static', filename='activity-log-screenshot-1.jpg') }}" class="figure-img img-fluid" style="max-width: 12rem; height: auto;">
</figure>
<br>

<h3>Language Breakdown</h3>
<p class="resume">A list of projects and coursework I have done in each language:</p>
<ul>
  <li>Java: CS187 Datastructures, <a href="https://github.com/Stefan4472/Searcher">Searcher</a>, <a href="/post/project-overview-grapher">Grapher</a>, <a href="https://github.com/Stefan4472/MathToolkit">MathToolkit</a></li>
  <li>Python: CS383 Artificial Intelligence, <a href="#stefan-on-software">StefanOnSoftware</a>, <a href="#umoc-website">UMOC Website</a>, <a href="#shakespeare-search-engine">Shakespeare Search Engine</a></li>
  <li>Javascript: <a href="#umoc-website">UMOC Website</a>, <a href="#spaceships-online">SpaceshipsOnline</a></li>
  <li>C: CS230 Systems Principles, CS377 Operating Systems, <a href="#kernel-hacking">Kernel Hacking</a>, <a href="#lincoln-labs-2019">Satellite Communications Module</a>, <a href="#robot-behavior">Robot Behavior</a></li>
  <li>C++: <a href="#lincoln-labs-2018">Real-Time Hardware Control for Radar Experiments</a>, <a href="#c-adventure">C++ Adventure</a></li>
  <li>Android: <a href="#spaceships">Spaceships</a>, <a href="#activity-log">ActivityLog</a>, <a href="https://github.com/Stefan4472/Icebreaker">IceBreaker</a>, <a href="https://github.com/Stefan4472/hitch-android">Hitch</a>, Gomoku, <a href="/post/project-overview-galaxy-draw">GalaxyDraw</a>, ImageTransition</a></li>
  <li>C#/Unity: <a href="#lincoln-labs-2019">Procedural FOV Mesh</a></li>
  <li>Arduino: <a href="/post/project-overview-duckietown-robot">DuckieTown Robot</a></li>
</ul>
{% endblock %}
