{% extends "blog/base_template.html" %}

{% block content %}
<h1>{{ post['title'] }}</h1>
<p>Posted on {{ post['post_date'].strftime('%B %d, %Y') }}</p>
<p>{% if tags %}Tagged Under{% else %}Untagged{% endif %}
    {% for tag in tags %}
      <span style="background-color: {{ tag['tag_color'] }}">
      <a href="{{ url_for('blog.tag_view', slug=tag['tag_slug']) }}">{{ tag['tag_title'] }}</a>
      </span>&nbsp
    {% endfor %}
</p>
<br>
{{ post_html|safe }}

{% if prev_post %}
<p>Previous Post: <a href="{{ url_for('blog.post_view', slug=prev_post['slug']) }}">{{ prev_post['title'] }}</a></p>
{% endif %}

{% if next_post %}
<p>Next Post: <a href="{{ url_for('blog.post_view', slug=next_post['slug']) }}">{{ next_post['title'] }}</a></p>
{% endif %}


{% endblock %}
