<div class="card">
    <div class="card-body">
        <h5 class="card-title">🚀 Subscribe to the StefanOnSoftware Email List!</h5>
        <h6 class="card-subtitle mb-2 text-muted">Receive an email whenever I publish a new post.</h6>
        <div class="input-group mb-3">
            <input id="email_address" aria-label="Email Address" type="email" class="form-control" placeholder="Enter your Email Address">
            <button id="email_submit" type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<script>
// Trigger AJAX request to Email API when user presses the Submit button
$('#email_submit').on('click', function(event) {
    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        console.log('Got response');
        if (xhr.readyState !== XMLHttpRequest.DONE) {
            return;
        }
        if (xhr.status === 200) {
            alert('Success!');
            $('#email_address').val('');
        } else {
            alert('Error: ' + xhr.responseText);
        }

    };
    xhr.open('POST', "{{ url_for('email.register_email') }}", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify({'address': $('#email_address').val()}));
});
</script>