{% extends "blog/base_template.html" %}

{% block content %}
<h1>About Stefan Kussmaul</h1>
<hr>

<p>I am a 24-year old software engineer from the US, currently living in Switzerland and working at Google. I got my
    Bachelor's in Computer Science at UMass Amherst and my Master's in Software Engineering at the Technical University
    of Munich.</p>

<figure>
    <img src="{{ url_for('static', filename='stefan_kussmaul.jpg') }}" alt="Stefan Kussmaul, 2019">
    <figcaption>Florence, Summer 2019</figcaption>
</figure>


<p class="mt-3">I've been coding since I was 15 years old, when my dad <s>forced</s> <em>persuaded</em> me to take an
    introductory C++ programming class. I didn't like it—I felt like my brain just wasn't "wired" for coding.</p>

<p>What saved the day was my discovery of Minecraft mods. At the time, people would take the Minecraft source code and
    add their own code to it. There were some amazing mods—my favorite was one which added industrial machines and
    factories to the game.</p>

<p>I really wanted to write my own mod, but I would need to become a good programmer first. I began coming up with
    little programming projects to work on in my spare time, and gradually I started to like it.</p>

<figure>
    <img src="{{ url_for('static', filename='portfolio/spaceships.gif') }}"
         alt="A screen recording from the game showing a spaceship dodging through obstacles on the screen."
         loading="lazy">
    <figcaption>A game I wrote called GalaxyRun.</figcaption>
</figure>

<p class="mt-3"> I started this blog in 2017 to experiment with <a href="https://flask.palletsprojects.com/en/2.3.x/">Python
    Flask</a>. Since then I've spent many hundreds of hours writing posts and improving the code. The name
    "Stefan on Software" comes from one of my favorite blogs,
    <a href="https://joelonsoftware.com">Joel On Software</a>. I strive to produce high-quality content and hope to
    be as good as Joel some day.</p>

<!--    Since then, I've come to realize that this is-->
<!--    the natural state of things&#45;&#45;most people aren't "good" at anything until they put a lot of hard work into it.-->
<!--    But it does feel like there's a common stereotype that all programmers just <em>naturally</em> knew how to-->
<!--    code. In any case, I'm glad I learned the way I did, because I now have a special level of empathy for those who-->
<!--    are new to programming.</p>-->

<!--<p>There's nothing more-->
<!--    satisfying than designing and building a complicated project, and I have notebooks full of sketches and-->
<!--    specifications I created while brainstorming one project or another. I think coding is an intensely creative-->
<!--    activity, and it gives individuals the ability to do super cool things with just their computer and their-->
<!--    brain.</p>-->

<p>This blog isn't just about software, though. I love traveling, and I regularly <a href="/tag/travel">write posts</a>
    about my life abroad. I also like to do small <a href="/tag/data-analysis">data analysis</a> projects using Python.
    With the rest of my free time, I play tennis and explore new places in Switzerland. My
    favorite TV show is Curb Your Enthusiasm, and my favorite video games are Minecraft and Rome Total War.</p>

<p>Feel free to reach out <a href="https://linkedin.com/in/stefan-kussmaul">on LinkedIn</a>, or check out my <a
        href="https://github.com/Stefan4472">Github</a>.</p>
{% endblock %}