{% extends "blog/base_template.html" %}
{% set active_page = "about" %}

{% block content %}
<div id="post-content">
    <h1>About Stefan Kussmaul</h1>
    <hr>

    <figure class="figure text-center">
        <img src="{{ url_for('static', filename='IMG_20190813_200915.jpg') }}" class="figure-img img-fluid rounded"
             style="max-width: 500px" alt="Stefan Kussmaul, 2019">
        <figcaption class="figure-caption">Florence, Summer 2019</figcaption>
    </figure>

    <p>Hey! My name's Stefan. I'm a recent graduate of the University of Massachusetts Amherst, and am now getting <a
            href="/post/hello-germany">my Master's degree in Germany</a>. I've always enjoyed writing and coding, so
        starting a blog was the natural thing to do! The name "Stefan on Software" comes from one of my favorite blogs,
        <a href="http://joelonsoftware.com">Joel On Software</a>. I strive to produce high-quality content and hope to
        be as good as Joel some day.</p>

    <p>This blog isn't just about software, though. I love travelling, and I've <a href="/tag/travel"></a>posted
        multiple articles</a> about my travels. My parents both come from Europe (my mom from Poland, my dad from
        Germany) so I have a good excuse to spend time there. In 2018 I studied abroad at the University of Uppsala in
        Sweden, and wrote <a href="/tag/study-abroad">a bunch of articles about my time there</a>.</p>

    <p>I've been coding since I was 15 years old, when my dad <s>forced</s> <em>persuaded</em> me to take an intro C++
        programming course. I was really bad at it--I didn't grasp the concepts naturally, and found it very
        frustrating. I felt like my brain just wasn't "wired" for coding. Since then, I've come to realize that this is
        the natural state of things--most people aren't "good" at anything until they put a lot of hard work into it.
        But it does feel like there's a common stereotype that all programmers just <em></em>naturally</em> knew how to
        code. In any case, I'm glad I learned the way I did, because I now have a special level of empathy for those who
        are new to programming.</p>

    <p>Over the past few years, software has been my main hobby, and is now my profession. There's nothing more
        satisfying than designing and building a complicated project, and I have notebooks full of sketches and
        specifications I created while brainstorming one project or another. I think coding is an intensely creative
        activity, and it gives individuals the ability to do super cool things with just their computer and their
        brain.</p>

    <p>My other hobbies include tennis and basketball. Between work, exercise, and personal software projects I don't
        have a lot of time for video games, but when I do, I play Super Smash or Rome Total War. My favorite TV shows
        are Arrested Development, Curb Your Enthusiasm, and The Office.</p>

    <p>Feel free to contact me <a href="http://linkedin.com/in/stefan-kussmaul">on LinkedIn</a>, or check out my <a
            href="http://github.com/profile/stefan4472">Github</a>.</p>

</div>
{% endblock %}