<!--Show a banner image. 100% width, no gutters, no margin bottom. -->
<div id="page-banner" class="container-fluid g-0 mb-0">
    <a href="/">
        <!--Choose which image to display based on screen orientation, which
        we use as a proxy for device (landscape=desktop, portrait=mobile).-->
        <picture class="w-100">
            <source
                media="(orientation: landscape)"
                srcset="{{ page_meta.banner_url}}">
            <source
                media="(orientation: portrait)"
                srcset="{{ page_meta.featured_url }}">
            <img src="{{ page_meta.banner_url }}" width="100%" height="auto">
        </picture>
    </a>
</div>