<!--Template that all pages extend from.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page_meta.title }} | StefanOnSoftware</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page_meta.description }}">
    <meta name="author" content="{{ page_meta.author }}">
    {% if not page_meta.allow_indexing %}<meta name="robots" content="noindex">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Open Graph properties https://ogp.me -->
    <meta property="https://ogp.me/ns#site_name" content="StefanOnSoftware">
    <meta property="https://ogp.me/ns#title" content="{{ page_meta.title }}">
    <meta property="https://ogp.me/ns#type" content="website">
    <!--https://stackoverflow.com/a/68215880-->
    <meta property="https://ogp.me/ns#url" content="{{ url_for(request.endpoint, _external=True, **request.view_args) }}">
    <meta property="https://ogp.me/ns#image" content="{{ page_meta.featured_url }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Site Icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Optional JavaScript -->
    <!--TODO: remove-->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
    {% include "blog/banner.html" %}
    {% include "blog/navbar.html" %}
    <div class="container" class="main-content">
        {% block content %}{% endblock %}
    </div>
    {% include "blog/footer.html" %}
</body>
</html>