{% extends "blog/base_template.html" %}
{% import "blog/macros.html" as macros %}
{% import "blog/posts_carousel.html" as posts_carousel %}

{% block content %}
<div class="p-5 bg-light rounded-3">
    <div class="container-fluid">
        <h3 class="">Hello world. Goodbye Wordpress!</h3>
        <p>This blog runs on a platform I wrote in Python. It has been one of my hobby projects for several years now.
            You can follow these links to <a href="/post/project-overview-stefanonsoftware">read about the technical
                details</a>, <a href="https://github.com/Stefan4472/Stefans-Blog">check out the code</a>, or <a
                    href="https://github.com/Stefan4472/Stefans-Blog/blob/master/CHANGES.md">see the changelog</a>.</p>
    </div>
</div>

{% if featured_posts %}
<h2>Featured Posts</h2>
<hr/>
{{ posts_carousel.make_carousel(featured_posts, "featured-posts-carousel") }}
{% endif %}

{% include "blog/register_email.html" %}

<h2>Latest Posts</h2>
<hr/>
{% for post in recent_posts %}
{{ macros.post_widget(post) }}
{% endfor %}

<div class="d-flex justify-content-center">
    <a href="{{ url_for('blog.posts_page') }}" class="btn btn-primary m-3" style="font-size: 2rem">See all posts</a>
</div>

{% endblock %}
