{% extends "blog/base_template.html" %}
{% import "macros/post_widget.html" as post_widget %}
{% import "macros/posts_carousel.html" as posts_carousel %}
{% import "macros/tag_widget.html" as tag_widget %}

{# Displays the home page. Expects the following arguments: %}
{# `featured_posts`: an iterable of type `Post`. #}
{# `recent_posts`: an iterable of type `Post` with the most recent 5 published posts. #}
{# `all_tags`: an iterable of type `Tag` with all Tags that should be displayed in the "What are you interested in" section. #}
{# `tag_counts`: a dict mapping Tag.slug to the number of posts that use the tag. #}
{# `page_meta`: page metadata. #}

{% block content %}
<!-- "What are you interested in" component, which displays a clickable badge for each tag. -->
<h3 class="text-center">What are you interested in?</h3>
<!-- Display tags in rows of 5. Only show complete rows (use truncated division). -->
{% for row in range(all_tags|length // 5) %}
<!-- Hide all but the first two rows of tags on small screens. Otherwise, it becomes too cramped. -->
<div class="m-2 text-center {% if row >= 2 %}d-none d-md-block{% endif %}">
    {% for j in range(row*5, (row+1)*5) %}
    {% set tag=all_tags[j] %}
    <!-- Use a fairly dirty trick to override the fade-in animation to a random duration. -->
    <span class="badge badge-primary tag p-2 mx-1 fade-in"
          style="background-color: {{ tag.color }}; animation-duration: {{ [2,3,4,5,6,7]|random }}s"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="{{ tag_counts[tag.slug] }} {{ tag.description }}">
        <a href="{{ tag.relative_url }}">{{ tag.name }} <span
                class="badge text-bg-secondary">{{ tag_counts[tag.slug] }}</span></a>
    </span>
    {% endfor %}
</div>
{% endfor %}

{% if featured_posts %}
<h2>Featured</h2>
<hr/>
{{ posts_carousel.make_carousel(featured_posts, "featured-posts-carousel") }}
{% endif %}

<h2>Latest</h2>
<hr/>
{% for post in recent_posts %}
{{ post_widget.make_widget(post) }}
{% endfor %}

<div class="d-flex justify-content-center">
    <a href="{{ url_for('blog.posts_page') }}" class="btn btn-primary m-3 fs-2">See all posts</a>
</div>

<hr>
<div class="p-5 bg-light rounded-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img class="w-100" src="{{ url_for('static', filename='stefan_kussmaul.jpg') }}"
                     alt="Stefan Kussmaul, 2019">
            </div>
            <div class="col-md-8">
                <h2>About Me</h2>
                <p>I've been writing about programming and other things I'm passionate about since 2017. I created this
                    website from scratch using Python flask and Bootstrap. <a
                            href="https://github.com/Stefan4472/Stefans-Blog">It's all on Github!</a></p>
                <p>Read more on my <a href="{{ url_for('blog.about_page') }}">About Page</a>.</p>

            </div>
        </div>
    </div>
</div>

<div class="p-3"></div>
{% include "blog/register_email.html" %}
<div class="p-3"></div>

{% endblock %}