{% extends "blog/base_template.html" %}

{% block content %}
<h1>Portfolio</h1>
<hr/>

<p class="fst-italic">I received my BS in Computer Science at the University of Massachusetts Amherst in 2019 and am now
    getting my
    Master's in Software Engineering at the Technical University of Munich. This page features some of the projects I've
    done for fun and for school; please see <a href="https://www.linkedin.com/in/stefan-kussmaul/">my LinkedIn
        profile</a> for information about my professional experience.</p>

<div id="stefan-on-software" class="mb-3">
    <h4>Stefan on Software (2017-)</h4>
    <p>I've been working on this website on and off since 2017, when I decided to give <strong>Python Flask</strong> a
        try. I developed the site layout with <strong>Bootstrap</strong>, which provides some good-looking components
        and responsively adjusts to different screen sizes. I'm certainly not a UX designer, but I do my best to make
        this site look reasonably good.</p>
    <p>I host this website on <a href="https://www.pythonanywhere.com/">PythonAnywhere</a> and post articles via an API
        I developed. I write posts in Markdown, which then gets rendered to HTML as part of that upload process. I also
        wrote <a href="https://github.com/Stefan4472/simple-search-engine">a search engine</a> and a <a
                href="https://github.com/Stefan4472/site-analytics">web service to analyze site traffic</a> (see below)
        as partner projects to this website.</p>
    <p>Follow these links to <a href="/post/project-overview-stefanonsoftware">read the blog post</a> or <a
            href="https://github.com/Stefan4472/Stefans-Blog">see it on Github</a>.</p>
</div>

<div id="site-analytics" class="mb-3">
    <h4>Site Analytics (2020-2022)</h4>
    <p>Site Analytics is a <strong>Python Flask</strong> service I developed to record and analyze the web traffic I
        receive on this website. I use <strong>PostgreSQL</strong> for data storage and <strong>SQLAlchemy</strong> as
        an ORM. By geolocating IP addresses and analyzing user agents I can find out interesting facts about the people
        and robots who visit my site.</p>
    <p>The service uses an API to record traffic and a separate API to perform analytical queries. Using the Query API,
        I analyzed more than 30,000 requests received by my site over the past two years.</p>
    <p>Follow these links to <a href="/post/traffic-analysis-2022">read the blog post</a> or <a
            href="https://github.com/Stefan4472/site-analytics">see it on Github</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/site-analytics.jpg') }}"
             alt="A global heatmap of bot activity on this website, created using data from the Site Analytics Query API.">
        <figcaption>Global heatmap of bot activity on this website, created using data from the Site Analytics Query
            API.
        </figcaption>
    </figure>
</div>

<div id="ephemeral-cache" class="mb-3">
    <h4>Benchmarking Caching Technologies for Ephemeral Workloads (2022)</h4>
    <p>I did a research project at the Technical University of Munich to test the performance of various cloud-based
        caching technologies. I developed a <strong>C++</strong> benchmarking program capable of simulating various
        workloads and used <strong>Docker</strong> to test four different technologies on a compute cluster.</p>
    <p>Follow these links to <a href="/post/ephemeral-cache">read the blog post</a> or <a
            href="https://gitlab.db.in.tum.de/sk-tum/ephemeral-cache">see it on Gitlab</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/ephemeral-cache.jpg') }}"
             alt="A bar chart displaying the throughput I measured for four cloud-based technologies.">
        <figcaption>The throughput I measured for four cloud-based technologies using the benchmarking program I
            wrote.
        </figcaption>
    </figure>
</div>

<div id="bfn-marketplace" class="mb-3">
    <h4>BFN Marketplace (2020)</h4>
    <p>I led a group of four students to develop a project staffing software solution for <a
            href="https://www.maibornwolff.de/en">MaibornWolff</a>, a Munich-based software consultancy. We developed
        our product using <strong>Java Spring</strong>, <strong>React</strong>, and <strong>Bootstrap</strong>. Our
        product was very well received and brought into internal use at MaibornWolff.</p>
    <p>Follow this link to <a href="/post/bfn-marketplace">read the blog post</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/bfn-marketplace.jpg') }}"
             alt="A screenshot from the project staffing website we developed.">
        <figcaption>A screenshot from the project staffing website we developed.</figcaption>
    </figure>
</div>

<div id="bavarian-election-system" class="mb-3">
    <h4>Bavarian Election System (2020)</h4>
    <p>Working with another student, I developed an electronic voting system for the Bavarian parliamentary elections.
        We developed our backend with <strong>Python Flask</strong> and <strong>PostgreSQL</strong>, performed
        load-testing with <strong>Locust</strong>, and wrote our frontend with <strong>React</strong> and <strong>Bootstrap</strong>.
        Our system accurately calculated the results of the 2013 and 2018 elections, processing over 25 million voting
        records.</p>
    <p>Follow these links to <a href="/post/building-an-electronic-election-system">read the blog post</a> or <a
            href="https://github.com/Stefan4472/bayerische-landtagswahl">see it on Github</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/election-system.jpg') }}"
             alt="A screenshot of our homepage, which shows the calculated allocation of seats in German Parliament.">
        <figcaption>A screenshot of our homepage, which shows the calculated allocation of seats in German
            Parliament.
        </figcaption>
    </figure>
</div>

<div id="portfolio-viewer" class="mb-3">
    <h4>Portfolio Analyzer (2020)</h4>
    <p>Following the March 2020 stock market crash, I became very interested in investing. I wrote a
        <strong>Python</strong> program to scrape stock prices from <a href="https://finance.yahoo.com/">Yahoo!
            Finance</a> and analyze user-defined stock portfolios over time.</p>
    <p>Follow these links to <a href="/post/my-first-attempt-at-investing">read the blog post</a> or <a
            href="https://github.com/Stefan4472/portfolio-analyzer">see it on Github</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/portfolio-analyzer.jpg') }}"
             alt="A plot comparing the values of several stock portfolios over time.">
        <figcaption>A portfolio comparison plot I generated using my program.</figcaption>
    </figure>
</div>

<div id="how-to-train-your-robot" class="mb-3">
    <h4>How to Train Your Robot (2019)</h4>
    <p>For my Bachelor's Thesis, I developed software to automatically learn sophisticated robot behaviors using
        <strong>Reinforcement Learning</strong>. I did my research on a 2D robot simulator developed at UMass and wrote
        my code in the <strong>C</strong> programming language.</p>
    <p>Follow this link to <a href="https://www.stefanonsoftware.com/post/how-to-train-your-robot">read the blog
        post</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/how-to-train-your-robot.gif') }}"
             alt="A screen recording of the virtual robot I programmed to find a ball, grab it, and move it.">
        <figcaption>Screen recording of a virtual robot I programmed to find the ball, grab it, and move it.
        </figcaption>
    </figure>
</div>

<div id="duckietown-robot" class="mb-3">
    <h4>DuckieTown Robot (2019)</h4>
    <p>I led a group of five students to develop an autonomous-driving <a href="https://www.duckietown.org/">"DuckieTown"</a>
        robot. We built the robot using a <strong>Raspberry Pi</strong>, an <strong>Arduino</strong>, and several other
        hardware components. I programmed all low-level motor control as well as the communications bus. I also wrote
        much of the driving logic in <strong>Python</strong>. Our project won the competition for being best in the
        class and completed the driving course with a near-perfect score!</p>
    <p>Follow these links to <a href="/post/project-overview-duckietown-robot">read the blog post</a> or <a
            href="https://github.com/Stefan4472/Duckytown-Robot">see it on Github</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/duckietown-robot.gif') }}"
             alt="A video of our robot turning around a corner on the miniature driving course.">
        <figcaption>Our robot (with pirate flag) completing a turn on the miniature driving course.</figcaption>
    </figure>
</div>

<div id="spaceships-online" class="mb-3">
    <h4>Spaceships Online (2018)</h4>
    <p>I had an itch to learn how online games worked, so I used <strong>Javascript</strong> and <strong>NodeJS</strong>
        to write an online multiplayer space shooter. I read articles about game networking and learned enough to
        implement an authoritative game backend from scratch.</p>
    <p>Follow these links to <a href="/post/project-overview-spaceships-online">read the blog post</a> or <a
            href="https://github.com/Stefan4472/SpaceshipsOnline">see it on Github</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/spaceships-online.gif') }}"
             alt="A screen recording of my Spaceship flying around and picking up an item.">
        <figcaption>A screen recording from the game, which shows my Spaceship flying around and picking up an
            item.
        </figcaption>
    </figure>
</div>

<div id="activity-log" class="mb-3">
    <h4>ActivityLog (2018)</h4>
    <p>I had always been interested in productivity and goal-setting, and that inspired me to create a productivity app
        in <strong>Android</strong>. I developed features for time-tracking (storing data in <strong>SQLite</strong>)
        and analyzing time spent on different activities.</p>
    <p>Follow this link to <a href="https://github.com/Stefan4472/ActivityLog">see it on Github</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/activity-log.jpg') }}"
             alt="A screenshot from the app I developed, showing the user how they have spent their time
            recently.">
        <figcaption>A screenshot from the app I developed, showing the user how they have spent their time
            recently.
        </figcaption>
    </figure>
</div>

<div id="c-adventure" class="mb-3">
    <h4>C++ Adventure (2017-2018)</h4>
    <p>I learned <strong>C++</strong> and used the <strong>SDL media library</strong> to design and write a
        two-dimensional game. I developed simple AI for non-playing characters, interactive items, a GUI system, and
        efficient game state serialization.</p>
    <p>Follow these links to <a href="/post/project-overview-c++-adventure">read the blog post</a> or <a
            href="https://github.com/Stefan4472/TestC-Game">see it on Github</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/cpp-adventure.gif') }}"
             alt="A screen recording from the game, in which the player (a pixellated human) picks up an item,
            then drops it somewhere else.">
        <figcaption>Screen recording from the game. The player (in red) picks up an item, then drops it somewhere
            else.
        </figcaption>
    </figure>
</div>

<div id="spaceships" class="mb-3">
    <h4>Spaceships (2015-2017)</h4>
    <p>I learned <strong>Java</strong> and then <strong>Android</strong> to develop an infinite-runner space game from
        scratch. Spaceships was my first big project, and it got me very excited about programming. I learned a lot
        about graphics and game programming.</p>
    <p>Follow these links to <a href="/post/project-overview-spaceships">read the blog post</a> or <a
            href="https://github.com/Stefan4472/Spaceships">see it on Github</a>.</p>
    <figure>
        <img src="{{ url_for('static', filename='portfolio/spaceships.gif') }}"
             alt="A screen recording from the game showing a spaceship dodging through obstacles on the screen.">
        <figcaption>Screen recording from the game. The player controls the spaceship and tries to survive for as
            long as possible.
        </figcaption>
    </figure>
</div>
{% endblock %}