{% extends "blog/base_template.html" %}
{% import "macros/tag_widget.html" as tag_widget %}

{# Displays a post. Expects three arguments: #}
{# `post`: the Post to display. #}
{# `next_post`: the post that came after this one (may be None). #}
{# `prev_post`: the post that came before this one (may be None). #}

{% block content %}
<!-- Restrict the width to 800px to keep things compact. -->
<div style="max-width: 800px; margin: auto">
    <h1>{{ post.title }}</h1>
    <div class="d-inline">
        {% for tag in post.tags %}
        {{ tag_widget.make_widget(tag) }}
        {% endfor %}
    </div>
    <p class="mt-2 text-muted fs-6 fst-italic">
        Posted on {{ post.publish_date.strftime('%B %d, %Y') }} by {{ post.author.name }}</p>
    <hr>
    <div id="post-content" class="post-content">
        {{ post.render_html()|safe }}
    </div>

    {% include "blog/register_email.html" %}

    <h5 class="mt-6">Keep reading StefanOnSoftware...</h5>
    <!-- Tease the "next" and "previous" posts. Each post gets half of the width. -->
    <div class="row">
        <div class="col-md-6">
            {% if prev_post %}
            <!-- Split this half of the width between the image thumbnail and the title. -->
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ url_for('blog.post_view', slug=prev_post.slug) }}">
                        <img class="img-fluid img-thumbnail rounded float-start" src="{{ prev_post.thumbnail_image.relative_url }}"
                             >
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="ml-1">
                        <h5>Previous Post:</h5>
                        <a href="{{ url_for('blog.post_view', slug=prev_post.slug) }}"><p>{{
                            prev_post.title }}</p></a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if next_post %}
            <!-- Split this half of the width between the title and the image thumbnail. -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mr-1">
                        <h5>Next Post:</h5>
                        <a href="{{ url_for('blog.post_view', slug=next_post.slug) }}"><p>{{
                            next_post.title }}</p></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for('blog.post_view', slug=next_post.slug) }}">
                        <img class="img-thumbnail rounded float-end" src="{{ next_post.thumbnail_image.relative_url }}">
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Google structured data describing the post. -->
<!-- https://developers.google.com/search/docs/appearance/structured-data/article#article-types. -->
<!-- TODO: don't hardcode author URL. -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ post.title }}",
        "image": [
            "{{ post.featured_image.absolute_url }}"
        ],
        "datePublished": "{{ post.publish_date|iso8601 }}",
        "dateModified": "{{ post.last_modified|iso8601 }}",
        "author": [
            {
                "@type": "Person",
                "name": "{{ post.author.name }}",
                "url": "https://www.stefanonsoftware.com/about"
            }
        ]
    }
</script>
{% endblock %}
