{% extends "blog/base_template.html" %}
{% import "blog/macros.html" as macros %}
{# Expects a variable `posts` which is a Pagination result of Post instances. See https://flask-sqlalchemy.palletsprojects.com/en/3.0.x/pagination/ #}

{% block content %}
<h2>Posts</h2>
<hr/>

{% if posts.total > 0 %}
<h5>Showing posts {{ (posts.page - 1) * posts.per_page + 1 }} to {{ (posts.page - 1) * posts.per_page +
    posts.items|length }} of {{ posts.total }} posts</h5>
{% endif %}

{% for post in posts.items %}
{{ macros.post_widget(post) }}
{% endfor %}

<!--Pagination menu-->
{% if posts.pages > 1 %}
<nav>
    <ul class="pagination justify-content-center">
        {% if posts.has_prev %}
        <!-- Show "Previous Page" quick link. -->
        <li class="page-item">
            <a class="page-link" href="{{ url_for('blog.posts_page', page=posts.prev_num) }}">Previous Page</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous Page</a>
        </li>
        {% endif %}

        <!-- Show links for the page numbers, in ascending order. -->
        {% for page in posts.iter_pages() %}
        {% if page %}
        <li class="page-item">
            <!-- Make the link for the current page bold.-->
            <a class="page-link {% if page == posts.page %}fw-bold{% endif %}"
               href="{{ url_for('blog.posts_page', page=page) }}">{{page}}</a>
        </li>
        {% else %}
        <span class=ellipsis>…</span>
        {% endif %}
        {% endfor %}

        {% if posts.has_next %}
        <!-- Show "Next Page" quick link. -->
        <li class="page-item">
            <a class="page-link" href="{{ url_for('blog.posts_page', page=posts.next_num) }}">Next Page</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next Page</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}