<div class="card">
    <div class="card-body">
        <h5 class="card-title">🚀 Subscribe to the StefanOnSoftware Email Newsletter!</h5>
        <h6 class="card-subtitle mb-2 text-muted">Receive an email whenever I publish a new post.</h6>
        <div class="input-group mb-3">
            <input id="email-address" aria-label="Email Address" type="email" class="form-control"
                   placeholder="Enter your Email Address">
            <button id="email_submit" type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<!-- Container for toasts that popup when the user register their email. -->
<!-- Adapted from https://getbootstrap.com/docs/5.2/components/toasts/ -->
<div class="d-flex justify-content-end">
    <!-- Toast to show when the registration is successful. -->
    <div id="toast-email-success" class="toast" role="alert" data-bs-delay="4000">
        <div class="toast-header">
            <!-- Add a small green dot. -->
            <span style="height: 1rem; width: 1rem; border-radius: 50%; background-color: #5cb85c;"></span>
            <strong class="mr-auto ms-1">Success!</strong>
            <button type="button" class="ml-2 mb-1 btn-close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            You have successfully subscribed to the email list!
        </div>
    </div>
    <!-- Toast to show when the registration fails. -->
    <div id="toast-email-failure" class="toast" role="alert" data-bs-delay="4000">
        <div class="toast-header">
            <!-- Add a small red dot. -->
            <span style="height: 1rem; width: 1rem; border-radius: 50%; background-color: #d9534f;"></span>
            <strong class="mr-auto ms-1">Error</strong>
            <button type="button" class="ml-2 mb-1 btn-close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            There was a problem registering your email address: <span id="email-error"></span>.
        </div>
    </div>
</div>

<script>
let submitButton = document.getElementById("email_submit");
submitButton.addEventListener("click", function() {
        // Disable the "Submit" button while waiting for response
        submitButton.disabled = true;

        // Trigger AJAX request to Email API when user presses the Submit button
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState !== XMLHttpRequest.DONE) {
                return;
            }
            if (xhr.status === 200) {
                document.getElementById("email-address").value = "";
                bootstrap.Toast.getOrCreateInstance(document.getElementById('toast-email-success')).show();
            } else {
                document.getElementById('email-error').textContent = xhr.responseText;
                bootstrap.Toast.getOrCreateInstance(document.getElementById('toast-email-failure')).show();
            }
            // Re-enable the "Submit" button
            submitButton.disabled = false;
        };
        xhr.open('POST', "{{ url_for('email.register_email') }}", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({'address': document.getElementById("email-address").value}));
    });
</script>