body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  /*letter-spacing: 0.01em;*/
}

.tag {
  font-size: 1.3rem;
}

h3 {
  margin-top: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.7rem;
  margin-top: 2rem;
  font-weight: bold;
}

.link-override {
  text-decoration: none; 
  color: white;
}

.link-override:hover {
  text-decoration: none; 
  color: white;
}

.carousel-image {    
  max-height: 500px;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.carousel-div {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

pre {
  background-color: #d9d9d9;
  padding: 1rem;
}

.figure {
  width: 100%;
}

.figure-caption {
  max-width: 70%;
  margin: 0 auto;
  font-style: italic;
}