body {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 1.2rem;
}

.tag {
  font-size: 1.3rem;
}

.post-content {
  font-family: Georgia, serif;
  line-height: 1.8;
  letter-spacing: -0.003em;
}

.post-date {
  color: rgb(117, 117, 117);
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
}

/*TODO: make this only apply when .post-content is also active?*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  font-family: Arial, sans-serif;
  margin-top: 2rem;
}

.post-content a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border-bottom: 1px solid #b0b7be;
    transition: color 15s ease, border-color 0.15s ease;
}

.post-content a:hover {
  color: blue;
  border-color: blue;
}

.link-override {
  text-decoration: none; 
  color: white;
}

.link-override:hover {
  text-decoration: none; 
  color: white;
}

.carousel-image {    
  max-height: 500px;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.carousel-div {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

pre {
  padding: 1rem;
}

.figure {
  width: 100%;
}

.figure-caption {
  max-width: 70%;
  margin: 0 auto;
  font-style: italic;
}

img.figure-img {
  max-height: 400px;
}