{# Note: {{contact.email}} and {{unsubscribe}} are Sendinblue template parameters, so we escape them.#}
<div id="footer">
    <p><strong>StefanOnSoftware</strong></p>
    <p><a href="https://www.stefanonsoftware.com">www.stefanonsoftware.com</a></p>
    <p>This email was sent to <a href="{% raw %}{{ contact.EMAIL }}{% endraw %}}">{% raw %}{{ contact.EMAIL }}{% endraw %}</a></p>
    <p>You've received it because you're subscribed to the StefanOnSoftware newsletter.</p>
    <p><a href="{% raw %}{{ unsubscribe }}{% endraw %}">Unsubscribe</a></p>
</div>
